{% extends "layout.html" %}

{% block title %}
- Details
{% endblock %}

{% block main %}

{% with messages= get_flashed_messages()  %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>

{% endfor %}
{% endif %}
{% endwith %}
<div style="color: #3db0cc;">
<h3>Salary Slip of all the Employees</h3> 
</div>
<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Date</th>
        <th scope="col">Salary Credited</th>
      </tr>
    </thead>

    <tbody>
        {% for row in rows %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>

    </table>

{% endblock %}